@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.header-link {
  @apply text-secondary-950 hover:text-primary-500 transition-all;
}

.button-primary {
  @apply min-h-[50px] min-w-[130px] sm:min-w-[170px] bg-primary-500 hover:bg-primary-500/90 transition-all text-small-semibold sm:text-body-semibold text-white rounded-[20px];
}

.button-secondary {
  @apply min-h-[50px] min-w-[130px] sm:min-w-[170px] bg-transparent text-secondary-950 border-2 border-secondary-950 hover:bg-secondary-950 hover:text-white transition-all text-small-semibold sm:text-body-semibold rounded-[20px];
}

.button-white {
  @apply min-h-[50px] min-w-[130px] sm:min-w-[170px] bg-transparent text-white border-2 border-white hover:bg-white hover:text-secondary-950 transition-all text-small-semibold sm:text-body-semibold  rounded-[20px];
}

.about-video_wrapper {
  @apply relative w-[100%] rounded-[20px] sm:w-[400px] mt-0 sm:mt-16;
}

.paragraph {
  @apply text-base-regular sm:text-body-semibold text-gray-500 leading-8;
}

.footer-link {
  @apply flex items-center gap-2;
}

.contact-input {
  @apply bg-transparent border-0 placeholder:text-secondary-900 text-gray-200 focus:outline-none py-5;
}

.social-bar {
  @apply p-5 bg-gray-300 rounded-tl-[20px] rounded-tr-[20px] lg:rounded-tr-none lg:rounded-bl-[20px] z-10 order-1 lg:order-2;
}

.tab-list::-webkit-scrollbar {
  display: none;
}

.work-card:first-child img.work-image {
  @apply object-cover;
}

.work-card:hover img.hovered-icon {
  @apply opacity-100 visible;
}

.flex-wrapper {
  @apply flex flex-wrap items-start justify-center xl:justify-start gap-10;
}

/* Loading Spinner */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-top: 20px;
  @apply border-b-secondary-950 border-[3px];
  left: 50%;
  transform: translateX(-50%);
}

.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid transparent;
  @apply border-b-primary-500;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Loading Spinner */
